* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: #FFFACD;
}

.menuActive {
  border-bottom: 3px solid red;
  border-bottom-color: #16166B;
}

.navContent {
  font-size: 18px;
  /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%); */

  border: 1px solid rgba(0, 0, 0, 0.2);
  /* padding-bottom: 10px; */

  width: 100%;
  height: 38px;
  background-color: lightblue;
}

.navbar-toggle {
  position: absolute;
  top: 9px;
  right: 20px;
  cursor: pointer;
  color: rgba(#16166B,0.8);
  font-size: 18px;
}
.active {
  display: block;
}

.menu {
  list-style-type: none;
  display: block;
}

nav li {
  text-align: center;
}

nav a {
  float: left;
  /* list-style-type: none; */
  /* border: 1px solid #000; */
  /* font-family: "Arial Black"; */
  font-family: "Copperplate Gothic";
  font-weight: bold;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  color: #16166B;
  text-decoration: none;
  width: 120px;

}

nav a:hover {
  /* background-color: #1E90FF; */
  /* font-family: "Tahoma"; */
  text-shadow: 2px 2px #9f9fb4;
  font-size: 22px;
  padding: 3px 16px 5px 16px;
}

#selectGP {
  background-color: yellowgreen;
  /* height: 500px; */
  width: 100%;
}

#selectActive {
  display: grid;
  grid-template-areas:
    "ActiveHeader FavHeader HistoryHeader"
    "ActiveGroup  FavGroup  HistoryGroup"
    "ActiveProduct FavProduct HistoryProduct";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-gap: 10px; */
  align-content: center;
}

#selectActiveGroupLbl {
  margin: 5px;
  grid-area: ActiveHeader;
}

#selectActiveProductCtrl {
  grid-area: ActiveProduct;
}

#selectActiveGroupCtrl {
  grid-area: ActiveGroup;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.box {
  height: 100px;
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: khaki;
  border-radius: 6px;
  background-clip: padding-box;
  border: 1px;
  border-color: sienna;
  border-style: solid;
  line-height: 1.5rem;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 18px;
  position: relative;
  padding: 5px 10px 10px 10px;
  box-shadow: 2px 2px 8px sienna;


}

.box:hover {
  /* margin-top: 13px; */
  /* margin-left: 13px; */
  background: sienna + 15%;
  box-shadow: 3px 3px 15px sienna;
  /* box-shadow: 3px 3px 10px sienna; */

}



.button:before, .button:after {
  content: '';
  position: absolute;
}

/* .button:before {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  z-index: -1;
  border-radius: 9px;
} */

.button:after {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 0;
  border-radius: 7px;
}

.button.alt {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.button.alt:before {
  display: none;
}

.column.blue {
  background: #4071b6;
}

.button.blue {
  background: #3471b8;
  border-color: #255184 #244f80 #1e4068;
  background-image: linear-gradient(to bottom, #497fcc 0%, #3d72c8 50%, #3471b8 50%, #2365a0 100%);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54fff2+0,33fff1+17,00fae9+49,00c2b5+84,00a89d+100 */
background: #54fff2; /* Old browsers */
background-image: -moz-linear-gradient(top, #54fff2 0%, #33fff1 17%, #00fae9 49%, #00c2b5 84%, #00a89d 100%); /* FF3.6-15 */
background-image: -webkit-linear-gradient(top, #54fff2 0%,#33fff1 17%,#00fae9 49%,#00c2b5 84%,#00a89d 100%); /* Chrome10-25,Safari5.1-6 */
background-image: linear-gradient(to bottom, #54fff2 0%,#33fff1 17%,#00fae9 50%,#00c2b5 84%,#00a89d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54fff2', endColorstr='#00a89d',GradientType=0 ); /* IE6-9 */
}

.button.blue:before {
  background: #4c8ad3;
  background-image: linear-gradient(to bottom, #29609f, #5995da);
}

.button.blue:hover {
  background: #3d79c8;
  background-image: linear-gradient(to bottom, #216298 0%, #3774c4 60%, #3d79c8 100%);
}

.button.blue:hover:after {
  border-color: #3d79c8;
}

/* .column.red {
  background: #d04022;
} */

.button.red {
  background: #d02e17;
  border-color: #942110 #902010 #741a0d;
  background-image: -webkit-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  background-image: -moz-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  background-image: -o-linear-gradient(top, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
  background-image: linear-gradient(to bottom, #e74a29 0%, #e6451b 50%, #d02e17 50%, #b3150b 100%);
}

.button.red:before {
  background: #ee442c;
  background-image: -webkit-linear-gradient(top, #b32511, #f3533c);
  background-image: -moz-linear-gradient(top, #b32511, #f3533c);
  background-image: -o-linear-gradient(top, #b32511, #f3533c);
  background-image: linear-gradient(to bottom, #b32511, #f3533c);
}

.button.red:hover {
  background: #e63b1b;
  background-image: -webkit-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  background-image: -moz-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  background-image: -o-linear-gradient(top, #a9110b 0%, #de3819 60%, #e63b1b 100%);
  background-image: linear-gradient(to bottom, #a9110b 0%, #de3819 60%, #e63b1b 100%);
}

.button.red:hover:after {
  border-color: #e63b1b;
}

.column.green {
  background: #429538;
}

.button.green {
  background: #3e952d;
  border-color: #29621e #275e1c #1d4715;
  background-image: -webkit-linear-gradient(top, #45b436 0%, #3ca933 50%, #3e952d 50%, #337c1d 100%);
  background-image: -moz-linear-gradient(top, #45b436 0%, #3ca933 50%, #3e952d 50%, #337c1d 100%);
  background-image: -o-linear-gradient(top, #45b436 0%, #3ca933 50%, #3e952d 50%, #337c1d 100%);
  background-image: linear-gradient(to bottom, #45b436 0%, #3ca933 50%, #3e952d 50%, #337c1d 100%);
}

.button.green:before {
  background: #4ac233;
  background-image: -webkit-linear-gradient(top, #317c22, #52d039);
  background-image: -moz-linear-gradient(top, #317c22, #52d039);
  background-image: -o-linear-gradient(top, #317c22, #52d039);
  background-image: linear-gradient(to bottom, #317c22, #52d039);
}

/* .button.green:active:after {
  border-color: #42a933;
} */

.button {
  display: inline-block;
  position: relative;
  font-family: "Liberation Sans";
  height: 33px;
  width: 500px;
  line-height: 24px;
  padding: 2px 15px 0 15px;
  font-size: 17px;
  color: white;
  text-decoration: none;
  /* text-shadow: 0 -2px rgba(0, 0, 0, 0.3); */
  text-shadow: -1px 1px 0 rgb(0, 71, 0);
  /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
  border: 2px solid;
  border-radius: 7px;
  outline: 0;
  -webkit-box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.25);
}

.button.green:hover {
    background: #3e952d;
    border-color: #29621e #275e1c #1d4715;
    background-image: -webkit-linear-gradient(top, #459036 0%, #428b33 50%, #2e8538 50%, #09501f 100%);
    background-image: -moz-linear-gradient(top, #459036 0%, #428b33 50%, #2e8538 50%, #09501f 100%);
    background-image: -o-linear-gradient(top, #459036 0%, #428b33 50%, #2e8538 50%, #09501f 100%);
    background-image: linear-gradient(to bottom, #459036 0%, #428b33 50%, #2e8538 50%, #09501f 100%);
  }

.button.green:active {
    background: #42a933;
    background-image: -webkit-linear-gradient(top, #31741b 0%, #3fa131 60%, #42a933 100%);
    background-image: -moz-linear-gradient(top, #31741b 0%, #3fa131 60%, #42a933 100%);
    background-image: -o-linear-gradient(top, #31741b 0%, #3fa131 60%, #42a933 100%);
    background-image: linear-gradient(to bottom, #31741b 0%, #3fa131 60%, #42a933 100%);

  }

/*  .button:hover {
  font-size: 1.01em;
  line-height: 28px;
  padding: 0px 15px 1px 13px;
  text-shadow: 1px 1px #145a34;
}*/

.column.cyan {
  background: #39a4b2;
}

.button.cyan {
  background: #2eabb3;
  border-color: #20797e #1f757a #195d62;
  background-image: linear-gradient(to bottom, #3dbdcd 0%, #33b2c7 50%, #2eabb3 50%, #1e9a99 100%);
}

.button.cyan:before {
  background: #3fccd5;
  background-image: -webkit-linear-gradient(top, #249299, #4dd3dc);
  background-image: -moz-linear-gradient(top, #249299, #4dd3dc);
  background-image: -o-linear-gradient(top, #249299, #4dd3dc);
  background-image: linear-gradient(to bottom, #249299, #4dd3dc);
}

.button.cyan:active {
  background: #33b9c7;
  background-image: -webkit-linear-gradient(top, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
  background-image: -moz-linear-gradient(top, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
  background-image: -o-linear-gradient(top, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
  background-image: linear-gradient(to bottom, #1d918f 0%, #31b2bf 60%, #33b9c7 100%);
}

.button.cyan:active:after {
  border-color: #33b9c7;
}

.column.brown {
  background: #c5aa3b;
}

.button.brown {
  background: #c8a22e;
  border-color: #927622 #8e7321 #755f1b;
  background-image: -webkit-linear-gradient(top, #d5ba4a 0%, #d2ba3d 50%, #c8a22e 50%, #af821e 100%);
  background-image: -moz-linear-gradient(top, #d5ba4a 0%, #d2ba3d 50%, #c8a22e 50%, #af821e 100%);
  background-image: -o-linear-gradient(top, #d5ba4a 0%, #d2ba3d 50%, #c8a22e 50%, #af821e 100%);
  background-image: linear-gradient(to bottom, #d5ba4a 0%, #d2ba3d 50%, #c8a22e 50%, #af821e 100%);
}

.button.brown:before {
  background: #dcb94d;
  background-image: -webkit-linear-gradient(top, #ae8c24, #e3c15b);
  background-image: -moz-linear-gradient(top, #ae8c24, #e3c15b);
  background-image: -o-linear-gradient(top, #ae8c24, #e3c15b);
  background-image: linear-gradient(to bottom, #ae8c24, #e3c15b);
}

.button.brown:active {
  background: #d2b33d;
  background-image: -webkit-linear-gradient(top, #a6791d 0%, #d0af35 60%, #d2b33d 100%);
  background-image: -moz-linear-gradient(top, #a6791d 0%, #d0af35 60%, #d2b33d 100%);
  background-image: -o-linear-gradient(top, #a6791d 0%, #d0af35 60%, #d2b33d 100%);
  background-image: linear-gradient(to bottom, #a6791d 0%, #d0af35 60%, #d2b33d 100%);
}

.button.brown:active:after {
  border-color: #d2b33d;
}

.column.pink {
  background: #b53686;
}

.button.pink {
  background: #b62b89;
  border-color: #801e61 #7c1d5e #63184b;
  background-image: -webkit-linear-gradient(top, #d03998 0%, #cb308c 50%, #b62b89 50%, #9c1c7b 100%);
  background-image: -moz-linear-gradient(top, #d03998 0%, #cb308c 50%, #b62b89 50%, #9c1c7b 100%);
  background-image: -o-linear-gradient(top, #d03998 0%, #cb308c 50%, #b62b89 50%, #9c1c7b 100%);
  background-image: linear-gradient(to bottom, #d03998 0%, #cb308c 50%, #b62b89 50%, #9c1c7b 100%);
}

.button.pink:before {
  background: #d83ca6;
  background-image: -webkit-linear-gradient(top, #9c2174, #df4aae);
  background-image: -moz-linear-gradient(top, #9c2174, #df4aae);
  background-image: -o-linear-gradient(top, #9c2174, #df4aae);
  background-image: linear-gradient(to bottom, #9c2174, #df4aae);
}

.button.pink:active {
  background: #cb3093;
  background-image: -webkit-linear-gradient(top, #941a77 0%, #c22e8d 60%, #cb3093 100%);
  background-image: -moz-linear-gradient(top, #941a77 0%, #c22e8d 60%, #cb3093 100%);
  background-image: -o-linear-gradient(top, #941a77 0%, #c22e8d 60%, #cb3093 100%);
  background-image: linear-gradient(to bottom, #941a77 0%, #c22e8d 60%, #cb3093 100%);
}

.button.pink:active:after {
  border-color: #cb3093;
}

.column.purple {
  background: #7351b7;
}

.button.purple {
  background: #6440be;
  border-color: #4a2f8c #482e89 #3c2672;
  background-image: -webkit-linear-gradient(top, #825ec9 0%, #7d53c5 50%, #6440be 50%, #482da8 100%);
  background-image: -moz-linear-gradient(top, #825ec9 0%, #7d53c5 50%, #6440be 50%, #482da8 100%);
  background-image: -o-linear-gradient(top, #825ec9 0%, #7d53c5 50%, #6440be 50%, #482da8 100%);
  background-image: linear-gradient(to bottom, #825ec9 0%, #7d53c5 50%, #6440be 50%, #482da8 100%);
}

.button.purple:before {
  background: #8161d0;
  background-image: -webkit-linear-gradient(top, #5534a7, #8c6ed8);
  background-image: -moz-linear-gradient(top, #5534a7, #8c6ed8);
  background-image: -o-linear-gradient(top, #5534a7, #8c6ed8);
  background-image: linear-gradient(to bottom, #5534a7, #8c6ed8);
}

.button.purple:active {
  background: #7753c5;
  background-image: -webkit-linear-gradient(top, #432ba0 0%, #714bc2 60%, #7753c5 100%);
  background-image: -moz-linear-gradient(top, #432ba0 0%, #714bc2 60%, #7753c5 100%);
  background-image: -o-linear-gradient(top, #432ba0 0%, #714bc2 60%, #7753c5 100%);
  background-image: linear-gradient(to bottom, #432ba0 0%, #714bc2 60%, #7753c5 100%);
}

.button.purple:active:after {
  border-color: #7753c5;
}

.column.gray {
  background: #9e9e9e;
}

.button.gray {
  background: #999999;
  border-color: #787878 #757575 #666666;
  background-image: -webkit-linear-gradient(top, #adadad 0%, #a6a6a6 50%, #999999 50%, #8e7b7c 100%);
  background-image: -moz-linear-gradient(top, #adadad 0%, #a6a6a6 50%, #999999 50%, #8e7b7c 100%);
  background-image: -o-linear-gradient(top, #adadad 0%, #a6a6a6 50%, #999999 50%, #8e7b7c 100%);
  background-image: linear-gradient(to bottom, #adadad 0%, #a6a6a6 50%, #999999 50%, #8e7b7c 100%);
}

.button.gray:before {
  background: #b6afaf;
  background-image: -webkit-linear-gradient(top, #8b8484, #c2b7b7);
  background-image: -moz-linear-gradient(top, #8b8484, #c2b7b7);
  background-image: -o-linear-gradient(top, #8b8484, #c2b7b7);
  background-image: linear-gradient(to bottom, #8b8484, #c2b7b7);
}

.button.gray:active {
  background: #a6a6a6;
  background-image: -webkit-linear-gradient(top, #8a7577 0%, #a1a1a1 60%, #a6a6a6 100%);
  background-image: -moz-linear-gradient(top, #8a7577 0%, #a1a1a1 60%, #a6a6a6 100%);
  background-image: -o-linear-gradient(top, #8a7577 0%, #a1a1a1 60%, #a6a6a6 100%);
  background-image: linear-gradient(to bottom, #8a7577 0%, #a1a1a1 60%, #a6a6a6 100%);
}

.button.gray:active:after {
  border-color: #a6a6a6;
}

.lt-ie9 .button:before {
  display: none;
}
